.App-header {
  background-color: #06132e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.left, .right, .middleRow, .navLeft, .navRight {
  width: 100%;
}

.navBar {
  background-color: #ffd497;
}

.left, .right {
  background-image: linear-gradient(#ffd497, #fb918f)
}

.navBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
} 

.fadeIn {
  padding: 4vw;
  color: #06132e;
  animation: fadein 1s;
}

@keyframes fadein {
  from { 
    opacity: 0; 
    padding: 3vw;
  }
  to   { 
    opacity: 1;
    padding: 4vw;
  }
}

.navBar, .navLeft, .navRight, .navMid {
  height:100%;
}

ul, .navMid {
  width: 2519px;
}

.navMid {
  padding: 0 6px;
  border-bottom:1px solid #d6dfe6;
}

.navBar {
  height:20vh;
}

.left, .right {
  border-bottom: 1px solid #d6dfe6;
}

.left {
  border-right: 1px solid #d6dfe6;
}

.right {
  border-left: 1px solid #d6dfe6;
}

.middleRow {
  display:flex;
  flex-direction: row;
}


.restartSlide {
  animation: slideIn 0.5s;
}

@keyframes slideIn {
  from {
      left: -40px;
  }
  to {
      left: 0px;
  }
}